.idea
venv
.images
.ipynb_checkpoints
food-101
static
templates
test_images
cupcakes.jpg
docker-compose.yml
food-101.tar.gz
Food_Image_Recognition.ipynb
frenchfries.jpg
garlicbread.jpg
history_101class.log
LICENSE
Makefile
model_trained_101class.hdf5
pizza.jpg
speghetticarbonara.jpg
strawberryshortcake.jpg
The_second_dishes_Potato_473963.jpg